<table class="shadow-lg bg-white table-fixed">
  <thead>
  <tr>
    <th class="bg-blue-100 text-center px-2 py-2">Релиз</th>
    <th class="bg-blue-100 text-center px-2 py-2">Место</th>
    <th class="bg-blue-100 text-center px-2 py-2">Рейтинг</th>
    <th class="bg-blue-100 text-center px-2 w-1/3">Турнир</th>
    <th class="bg-blue-100 text-center px-2 w-1/3">Состав</th>
    <th class="bg-blue-100 text-center px-2">Место</th>
    <th class="bg-blue-100 text-center px-2">Бонус</th>
  </tr>
  </thead>

  <tbody>
  <% @rows.each_with_index do |tournament, index| %>

    <% if tournament.tournament_id.present? || index == 0 %>
      <tr class="border-y py-2 hover:bg-gray-100">
    <% else %>
      <tr class="border-y py-2 hover:bg-gray-100 hidden" data-empty-releases-target="release">
    <% end %>

    <% if tournament.rows > 0 %>
      <td rowspan="<%= tournament.rows %>" class="border-y px-2 py-2 text-center">
        <%= tournament.release_date %>
      </td>
      <td rowspan="<%= tournament.rows %>" class="border-y px-2 text-center">
        <%= round_place(tournament.release_place) %>
      </td>
      <td rowspan="<%= tournament.rows %>" class="border-y px-2 text-center">
        <%= tournament.release_rating %>
        <%= render partial: "shared/value_change", locals: { change: tournament.release_rating_change } %>
      </td>
    <% end %>

    <% if tournament.tournament_id.present? %>
      <td class="border-y px-2 hover:underline">
        <%= link_to(tournament.name, tournament_path(tournament_id: tournament.tournament_id)) %>
      </td>

      <td class="px-2 py-1 border-y">
        <div data-controller="single-roster">
          <a href="" data-all-rosters-target="toggle" data-single-roster-target="show" data-action="single-roster#show"
             class="underline decoration-1 decoration-blue-300 underline-offset-2 decoration-solid text-sm">
            Показать
          </a>
          <div class="w-1 pl-1 bg-blue-100 hover:bg-blue-300"
               data-single-roster-target="hide"
               data-action="click->single-roster#hide">
            <div class="hidden px-2" data-all-rosters-target="roster" data-single-roster-target="roster">
              <%= render partial: "shared/roster", collection: tournament.players, as: :player %>
            </div>
          </div>
        </div>
      </td>

      <td class="border-y px-2 text-center">
        <%= round_place(tournament.place) %>
      </td>

      <td class="border-y px-2 text-center">
        <%= tournament.rating %>
        <% unless tournament.in_rating %>
          <s>
        <% end %>
        <%= render partial: "shared/value_change", locals: { change: tournament.rating_change } %>
        <% unless tournament.in_rating %>
          </s>
        <% end %>
      </td>

    <% else %>
      <td colspan="5"></td>
    <% end %>

    </tr>
  <% end %>
  </tbody>
</table>
