<% @title="#{@team.name} — рейтинг" %>

<div class="text-center text-xl">
  <h1><%= @team.name %> (<%= @team.city %>)</h1>
</div>

<div class="text-center py-2 text-l hover:underline">
  <%= link_to("Страница на rating.chgk.info", "https://rating.chgk.info/teams/#{@team.id}") %>
</div>

<% unless @base_roster.empty? %>
  <div class="px-2 py-2">
    <h2 class="py-1 font-semibold">Базовый состав на сезон <%= @current_season.title %></h2>
    <div class="w-1 pl-1 bg-gray-200">
      <div class="px-2">
        <%= render(PlayerComponent.with_collection(@base_roster)) %>
      </div>
    </div>

  </div>
<% end %>

<div data-controller="all-rosters empty-releases" class="mx-auto">
  <button data-action="all-rosters#toggleAll"
          data-all-rosters-target="globalToggle"
          class="text-sm rounded-md mx-2 px-2 py-2 mt-1 bg-gray-200">
    Показать все составы
  </button>

  <button data-action="empty-releases#toggle"
          data-empty-releases-target="toggle"
          class="text-sm rounded-md px-2 py-2 mt-1 bg-gray-200">
    Показать релизы без турниров
  </button>

  <div class="py-2 px-2">
    <% cache "team_tournaments_list/#{@model_name}/#{@team.id}" do %>
      <%= render "tournaments_list" %>
    <% end %>
  </div>
</div>

<h4 class="text-l text-center py-2">Турниры до рейтинга</h4>
<div class="py-2">
  <% cache "old_team_tournaments_list/#{@model_name}/#{@team.id}" do %>
    <%= render "old_tournaments_list" %>
  <% end %>
</div>