<% @title="Рейтинг" %>
<h1 class="text-center py-4 text-xl">Турниры</h1>

<table class="rating-table table-fixed">
  <thead>
  <tr class="rating-table-header">
    <th class="px-2 w-1/8">Дата</th>
    <th class="px-2 w-1/4">Турнир</th>
    <th class="px-2 w-1/8">Тип</th>
    <th class="px-2 w-1/8">Бонус победителя</th>
    <th class="px-2 w-1/8">TrueDL</th>
  </tr>
  </thead>

  <tbody>
  <% @tournaments.each do |tournament| %>
    <tr class="rating-table-row border-b py-2">
      <td class="px-2 py-2 text-center"><%= I18n.l(tournament["date"].to_date, format: :short) %></td>
      <td class="px-2 hover:underline">
        <%= link_to(tournament["name"], tournament_path(tournament_id: tournament["id"])) %>
      </td>
      <td class="px-2 text-center"><%= tournament["type"] %></td>
      <td class="px-2 text-center"><%= tournament["rating"] %></td>
      <td class="px-2 text-center"><%= round_true_dl(@true_dls[tournament["id"]]) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

