<table class="rating-table table-fixed">
  <thead>
  <tr class="rating-table-header">
    <th class="px-2 py-2 w-1/8">Дата</th>
    <th class="px-2 w-1/4">Турнир</th>
    <th class="px-2 w-1/4">Команда</th>
    <th class="px-2 w-1/8">Место</th>
    <th class="px-2 w-1/8">Рейтинг</th>
    <th class="px-2 w-1/8">Дельта</th>
  </tr>
  </thead>

  <tbody>
  <% @old_tournaments.each do |tournament| %>
    <tr class="border-b rating-table-row">
      <td class="px-2 text-center"><%= I18n.l(tournament["date"].to_date, format: :short) %></td>
      <td class="px-2 hover:underline">
        <%= link_to(tournament["name"], tournament_path(tournament_id: tournament["id"])) %>
      </td>
      <td class="px-2 text-left hover:underline">
        <%= link_to(tournament["team_name"], team_path(team_id: tournament["team_id"])) %>
      </td>
      <td class="px-2 text-center"><%= round_place(tournament["place"]) %></td>
      <td class="px-2 text-center"><%= tournament["rating"] %></td>
      <td class="px-2 text-center"><%= tournament["rating_change"] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
