<table class="shadow-lg bg-white">
  <thead>
  <tr>
    <% if @filtered %>
    <th class="bg-blue-100 text-center px-2 py-2">#</th>
    <% end %>
    <th class="bg-blue-100 text-center px-2 py-2">Место</th>
    <th class="bg-blue-100 text-center px-2">Команда</th>
    <th class="bg-blue-100 text-center px-2">Город</th>
    <th class="bg-blue-100 text-center px-2">Рейтинг</th>
  </tr>
  </thead>

  <tbody>
  <% @release.teams.each_with_index do |team, index| %>
    <tr class="border-y py-2 hover:bg-gray-100">
      <% if @filtered %>
        <td class="text-center border-y px-2"><%= @paging.from + index %></td>
      <% end %>
      <td class="text-center border-y py-2">
        <%= render(PlaceChangeComponent.new(place: team.place, previous_place: team.previous_place)) %>
      </td>
      <td class="border-y px-2 hover:underline"><%= link_to(team.name, team_path(team_id: team.team_id)) %></td>
      <td class="border-y px-2 hover:underline">
        <%= link_to(team.city, release_path(release_id: @release.id, city: team.city)) %>
      </td>
      <td class="px-2 text-center border-y">
        <%= team.rating %>
        <%= render(ValueChangeComponent.new(change: team.rating_change)) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
