<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <nav class="flex items-center justify-between flex-wrap p-6">
    <div class="flex items-center flex-shrink-0 mr-6">
      <span class="font-bold text-xl">
        <%= link_to("Рейтинг МАИИ", root_path) %>
      </span>
    </div>
  </nav>
    <div class="mx-auto max-w-4xl p-4">
      <%= yield %>
    </div>
  </body>
</html>
